.orange{
    background-color: orange;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.red{
    background-color: red;
}
.pink{
    background-color: pink;
}
.yellow{
    background-color: yellow;
}
.gray{
    background-color: gray;
}
.whitesmoke{
    background-color: whitesmoke;
}
td{
    padding:10px;
}
td.orange:hover,
td.blue:hover,
td.green:hover,
td.red:hover,
td.pink:hover,
td.yellow:hover,
td.gray:hover,
td.whitesmoke:hover{
    background-color: brown;
}
